---
layout: base
---
.container
  .center
    %p Join the Forge community for events, hack-nights, and discussions! Check the calendar to see when the next event is being hosted.

    %div
      <iframe src="https://www.google.com/calendar/embed?src=tiu3ijh5nol9pv78vdvu3kkbuk%40group.calendar.google.com" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
