---
layout: base
---
.container
  .container.hidden-phone
    .row  
      .span6
        .row
          .span6
            %p 
              %center 
                %img{:src=>'/images/forge.png'}       
        .row
          .span6
            <iframe src="http://player.vimeo.com/video/26128736?title=0&amp;byline=0&amp;portrait=0" width="570" height="351" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .span6
        .hero-unit
          %h2 The new enterprise industrial evolution.    
          %p A core framework and next-generation shell for tooling and automation at a command line level; with APIs for integration in IDEs, exending built in functionality with plugins, and scripting for automating repeditive tasks, Forge is a tool every open-source developer should be looking at.

          %p A core framework for rapid-application development in a standards-based environment. Plugins / incremental project enhancement for Java EE, and more.
          %p 
            %a.btn.btn-primary.btn-large{ :href =>'https://repository.jboss.org/nexus/service/local/artifact/maven/redirect?r=releases&g=org.jboss.forge&a=forge-distribution&v=1.0.5.Final&e=zip'} Download
            %a.btn.btn-secondary.btn-large{ :href =>'/docs/using/'} Install
  
  .row.visible-phone
    %h2 The new enterprise industrial evolution.    
    %p A core framework and next-generation shell for tooling and automation at a command line level; with APIs for integration in IDEs, exending built in functionality with plugins, and scripting for automating repeditive tasks, Forge is a tool every open-source developer should be looking at.

    %p A core framework for rapid-application development in a standards-based environment. Plugins / incremental project enhancement for Java EE, and more.
  .row
    .span6
      %h2 Quick Install
      %p 
        %span The fastest and easiest way to install Forge on any operating system is through the use of 
        %a{:href=>"http://jboss.org/tools"} JBoss Tools
        %span or 
        %a{:href=>"https://devstudio.jboss.com/download/"} JBoss Developer Studio
        %span, where Forge comes pre-installed and makes use of IDE GUI integration. Alternatively, on OSX, you can also use 
        %a{:href=>"http://mxcl.github.com/homebrew/"} Homebrew
        %span to install Forge natively for use on the command-line, via "brew install jboss-forge".
      %p 
        %ol
          %li Ensure that you have already installed a Java 6+ JDK.
          %li 
            %a{:href=>'https://repository.jboss.org/nexus/index.html#nexus-search;gav~org.jboss.forge~forge-distribution~~~~kw,versionexpand'} Download 
            %span  and Un-zip Forge (or a recent 
            %a{:href=>'https://repository.jboss.org/nexus/index.html#nexus-search;gav~org.jboss.forge~forge-distribution~~~~kw,versionexpand'} snapshot build
            %span ) into a folder on your hard-disk, this folder will be your FORGE_HOME
          %li 
            %span Add '$FORGE_HOME/bin' to your path
            %span (
            %a{:href=>'http://www.google.com/search?q=windows+edit+path'} windows
            %span ,
            %a{:href=>'http://www.google.com/search?q=linux+set+path'} linux
            %span ,
            %a{:href=>'http://www.google.com/search?q=mac+osx+edit+path'} mac osx
            %span )
          %li * Consider installing Git and Maven 3.0+ (both optional)
          %li Open a command prompt and run 'forge' (if you are on Windows, you will need to run forge.bat unless using a Unix-style terminal)                   
    .span6
      %h2 News
      - for post in site.posts
        %li
          %h3
            %a{ :href=>post.url }= post.title
          - if (post.content.length > 0)
            %p= summarize(html_to_text(post.content), 50)
