---
layout: base
---
.container
  %p Installing plugins in Forge is simple - you need only use the built-in `forge find-plugin` and `forge install-plugin` commands to search and install any of the plugins listed below. Alternatively, you may use `forge git-plugin` and `forge source-plugin` to install plugins from third party repositories, or from your local filesystem.

%script
  var source = [
  - for plugin in site.plugins    
    =String.new(plugin.name).insert(0,"\"").concat("\",")
  ];
  
  console.log(source);
  
:javascript
  $(document).ready(function() {
    var filterInput = $('#filterInput');
    filterInput.keyup(function() {      
      $("#pluginTable tr").show();
      $("#pluginTable tr").slice(1).each(function() {

      var name = $.trim($(this).children().first().text()).toLowerCase();
      var desc = $.trim($(this).children().last().text()).toLowerCase();
      
        if(name.indexOf(filterInput.val().toLowerCase()) == -1 
           && desc.indexOf(filterInput.val().toLowerCase()) == -1) {
          $(this).hide();
        } 
      });
    });
  });

.container
  %input{:type=>'text', :id=>'filterInput'}

  %table.table.table-striped.table-bordered.table-condensed{:id=>'pluginTable'}
    %tr
      %th
        Plugin
      %th
        Author
      %th
        Description
    - for plugin in site.plugins
      %tr
        %td     
          =plugin.name
        %td 
          =plugin.author
        %td
          =plugin.description
