---
layout: base
title: Team
index: 1
---
.container
  %p This page lists the people who belong to the core team. If you're a contributor and would like to be listed here, please file a pull request for the website.
  
  %table.table.table-striped.table-bordered.table-condensed{:id=>'teamTable'}
    %tr
      %th{:width=>"5%"}
      %th
        Name
      %th
        Role
      %th
        Git Username
      %th
        Organization
      %th
        Hometown (Time zone)
    %tr
      %td     
        %img{:src => 'http://community.jboss.org/people/lincolnthree/avatar/46.png', :style=> "vertical-align: middle;"}
      %td
        %a{:href=> 'http://ocpsoft.org',:target => '_blank'}Lincoln Baxter III
      %td 
        Project Leader
      %td
        %a{:href=> 'http://github.com/lincolnthree',:target => '_blank'}lincolnthree
      %td
        Red Hat          
      %td
        GMT-5          
    %tr
      %td     
        %img{:src => 'http://community.jboss.org/people/gastaldi/avatar/46.png', :style=> "vertical-align: middle;"}
      %td
        %a{:href=> 'http://gastaldi.wordpress.com',:target => '_blank'}George Gastaldi
      %td 
        Plugin Development Leader
      %td
        %a{:href=> 'http://github.com/gastaldi',:target => '_blank'}gastaldi
      %td
        Red Hat          
      %td
        GMT-3    
    %tr
      %td     
        %img{:src => 'http://community.jboss.org/people/koen.aers/avatar/46.png', :style=> "vertical-align: middle;"}
      %td
        Koen Aers
      %td 
        Forge Eclipse Integration (JBoss Tools) Leader
      %td
        %a{:href=> 'http://github.com/koentsje',:target => '_blank'}koentsje
      %td
        Red Hat          
      %td
        GMT+1 
          
  %h3 Contributors
  
  %p Special thanks goes to the following contributors: 
   
  %table.table.table-striped.table-bordered.table-condensed{:id=>'contributorsTable'}          
    %tr
      %th{:width=>"5%"}
      %th
        Name
      %th
        Git Username                         
    %tr
      %td
        %img{:src => 'https://secure.gravatar.com/avatar/d908a73aa3324f55c7c5c14e09b89502.jpg', :style=> "vertical-align: middle;"}
      %td
        Fiorenzo
      %td
        %a{:href=> 'http://github.com/fiorenzino',:target => '_blank'}fiorenzino
    %tr
      %td
        %img{:src => 'https://secure.gravatar.com/avatar/702627aef632694120f1157c3e62fcf9.jpg', :style=> "vertical-align: middle;"}
      %td
        Ivan St. Ivanov
      %td
        %a{:href=> 'http://github.com/ivannov',:target => '_blank'}ivannov
    %tr
      %td
        %img{:src => 'https://secure.gravatar.com/avatar/dda8b4e48f6d2212430a0a12c757fd88.jpg', :style=> "vertical-align: middle;"}
      %td
        Jevgeni Zelenkov
      %td
        %a{:href=> 'http://github.com/jzelenkov',:target => '_blank'}jzelenkov
    %tr
      %td
        %img{:src => 'https://secure.gravatar.com/avatar/dcc2641d3625da94642dea464be72fd6.jpg', :style=> "vertical-align: middle;"}
      %td
        Paul Bakker
      %td
        %a{:href=> 'http://github.com/paulbakker',:target => '_blank'}paulbakker        
    %tr
      %td
        %img{:src => 'https://secure.gravatar.com/avatar/0e49d4fc105a8ffa981064b8e6b65f27.jpg', :style=> "vertical-align: middle;"}
      %td
        Ståle W. Pedersen
      %td
        %a{:href=> 'http://github.com/stalep',:target => '_blank'}stalep
    %tr
      %td
        %img{:src => 'https://secure.gravatar.com/avatar/3b932a10e7abd070c61669de01cc7e0d.jpg', :style=> "vertical-align: middle;"}
      %td
        Thomas Frühbeck
      %td
        %a{:href=> 'http://github.com/shadogray',:target => '_blank'}shadogray
