---
layout: base
---

.container
  .row
    .span3
      %ul.nav.nav-list
        %li.nav-header Using Forge
        - for doc in site.docs_using
          %li
            %a{ :href=>doc.url + "#content"}= doc.title        
        %li.nav-header Get involved
        - for doc in site.docs_get_involved
          %li
            %a{ :href=>doc.url + "#content"}= doc.title        
        %li.nav-header Important plugins
        - for doc in site.docs_important_plugins
          %li
            %a{ :href=>doc.url + "#content"}= doc.title        
        %li.nav-header Developing plugins
        - for doc in site.docs_plugin_development
          %li
            %a{ :href=>doc.url + "#content"}= doc.title        
    .span9
      ~ content
