---
layout: docs
---

%h1 Writing documentation
We need your help! Good documentation is one of the most important things for broad adoption of Forge. It's really easy to help, so if you feel we are missing something in the docs, please add it :-)
%p
The documentation is written in Textile, which is a lightweight markup language. 
%br
Follow these steps to conribute documentation:
%ol
  %li Clone http://github.com/forge/website on GitHub.
  %li Add a new .textile file in one of the sub directories of the docs directory. 
  %li Push the empty Textile file to your GitHub repository.
  %li Use the GitHub Textile editor to write your docs and preview changes. Of course you can use your own editor if you prefer so.

The Textile Wikipedia 
%a{ :href => 'http://en.wikipedia.org/wiki/Textile_(markup_language)'} page 
gives a good introduction about the markup language.

%br
%br
%h3 Some technical details
The Forge website is built using Awestruct, and the sources are on http://github.com/forge/website. However you don't have to install anything to contribute documentation! If you are interested in Awestruct anyway, you'll find a guide on the github page about how to setup and use Awestruct. 



